{% extends 'base.html.twig' %}

{% block title %}email inscrite a la newsletter
{% endblock %}

{% block body %}

	<div class='container'>
		<h1>l'email '{{newsletter.email}}'est maintenant inscrite a la newsletter</h1>
	</div>

{% endblock %}
