{% extends 'base.html.twig' %}

{% block title %}Inscription a la newsletter
{% endblock %}

{% block body %}

	<div class='container'>
		<h1>inscription a la newsletter</h1>
		{{form(form)}}
		</div>

	{% endblock %}
