{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block navbar %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<h1>Posts</h1>

	<ul>
		{% for post in posts %}
			<li>
				{{ post.title }}
				-
				{{ post.category.name }}
			</li>
		{% else %}
			<p>Aucun post enregistré</p>
		{% endfor %}
	</ul>

{% endblock %}
