{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end"><a href="{{path('show_category',{id: post.category.id})}}">back</a></div>
    <h1 style='text-align:center;'>{{post.title}}</h1>
    <div class='container'><p style='text-align:center;'>{{post.content}}</p></div>
{% endblock %}
